<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Запись к мастеру</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/products.css' %}" />
</head> 
 
<body> 
     
<div class="wrapper"> 
    <div class="services"> 
 
        <a href="#"> 
            <span class="single-img img-one">
                <span class="img-text"> 
                    <h4>НОГТИ</h4>
                    <p>от 1700 руб.</p>
                    <button>Записаться</button>
                </span> 
            </span> 
        </a> 
 
        <a href="#"> 
            <span class="single-img img-two"> 
                <span class="img-text"> 
                    <h4>ВОЛОСЫ</h4>
                    <p>от 5500 руб.</p>
                    <button>Записаться</button>
                </span> 
            </span> 
        </a> 
 
        <a href="#"> 
            <span class="single-img img-three"> 
                <span class="img-text"> 
                    <h4>РЕСНИЦЫ</h4>
                    <p>от 2500 руб.</p>
                    <button>Записаться</button>
                </span> 
            </span> 
        </a> 
 
    </div> 
</div> 
 
</body> 
 
</html>